td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    /*font-family: 'Roboto', sans-serif;*/
    color: white;
    background-color: #00ACC1;
    opacity: 1;
}

tr {
    position: relative;
    height: 0px;
}

table {
    width: 100%;
    position: relative;
    border-spacing: 10px;
}

#here_table {
    overflow-y: scroll;
    height: 100%;
    width: 49.5%;
    position: relative;
    color: #FFF;
    bottom: 0px;
    left: 0px;
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #00BCD4;
    /*    margin-left: 1%;*/
    /*    margin-top: 1%;*/
    margin-right: 0.5%;
    float: left;
    display: block;
}

#content {
    position: relative;
    color: #FFF;
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #00BCD4;
    /*    margin-left: 1%;*/
    /*    margin-top: 1%;*/
    margin-right: 0.5%;
}

body {
    background-color: #0097A7;
    /*font-family: 'Roboto', sans-serif;*/
    margin: 1%;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.screenComponent {
    float: right;
    padding-top: 10px;
    color: white;
    background-color: #00BCD4;
    border-radius: 15px;
    margin-left: 0.5%;
    display: block;
}

#inputForm {
    height: 48%;
    width: 49%;
    margin-bottom: 1%;
}

#instructors {
    height: 47%;
    width: 49%;
    position: relative;
    float: right;
}

input {
    background-color: #00ACC1;
}

::-webkit-scrollbar {
    display: none;
}

#container {
    width: 840px;
    margin: 25px auto;
}

.whysign {
    float: left;
    background-color: white;
    width: 480px;
    height: 347px;
    border-radius: 0 5px 5px 0;
    padding-top: 20px;
    padding-right: 20px;
}

.signup {
    float: left;
    width: 300px;
    padding: 30px 20px;
    background-color: white;
    text-align: center;
    border-radius: 5px 0 0 5px;
}

[type=text] {
    display: block;
    margin: 0 auto;
    padding: 1;
    width: 96%;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-radius: 15px;
    padding: 10px;
    height: 45px;
    line-height: 45px;
    margin-bottom: 10px;
    font-size: 1em;
    color: #FFF;
    
}

[type=submit] {
    display: block;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
    border: 0;
    background-color: #0097A7;
    border-radius: 25px;
    
    height: 30%;
    color: white;
    font-weight: 400;
    text-align: center;
    font-size: 1em;
}

[type='text']:focus {
    outline: none;
    
    border-color: #53CACE;
}

h1 {
    color: rgba(0, 0, 0, .7);
    font-weight: 900;
    font-size: 2.5em;
}

p {
    color: rgba(0, 0, 0, .6);
    font-size: 1.2em;
    margin: 50px 0 50px 0;
}

span {
    font-size: .75em;
    background-color: white;
    padding: 2px 5px;
    color: rgba(0, 0, 0, .6);
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    margin: 5px;
}

span:hover {
    color: #53CACE;
}

p:nth-of-type(2) {
    font-size: 1em;
}

::-webkit-input-placeholder {
   
   color: rgba(0, 0, 0, .4);
}